%a-base-object{

    //implemented base object
}

%a-content-group{
    //group of props: image, title, subtitle,content
}

%a-panel{
    //like a block but with a header bar
}

%a-section{
    //website section
}
%a-widget{
    //dont know yet really
}
//layouts
%a-block{
    //implemented block, this is a colored frame
}
%a-list{
    //list
}
%a-row{
    //a horz row pf objects

}
%a-row-2x1{
    //2  objects next to eaxh other


}
%a-grid{
    //grid layout

    @include dry(grid-2) {

        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;width:100%;

    }

}

%a-grid-4{
    //grid layout

    @include dry(grid-4) {

        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100%;width:100%;
//background: purple;
    }

    @include breakpoint-range(sm) {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr ;
        height: 100%;width:100%;
    }
    @include breakpoint-range(xs) {
        display: block;
    }

        *{
     // background: yellow;border: 2px solid red;

 }
}

%a-grid-mobile{
    @include breakpoint-range(sm) {

        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
    }
    @include breakpoint-range(xs) {
background: yellow;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }
}





.gilliantest{
    @include dry(cs-test-1-dark) {
        outline: 5px;
        @include color-scheme(dark);
    }
}

.gilliantest2{


    @include dry(cs-test-1-light) {
outline: 5px;
        @include color-scheme(light);
    }
        }
%a-grid{
    //flex grid layout
}
