
<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->
<div  class="Owool-Collection full {{ collection.handle }}">

    <header class="Owool-Collection__title ">
        {{ page_title | remove: '*' }}
    </header>



    {% paginate collection.products by 21 %}
      {% if collection.products.size > 0 %}
    
        <ul class="Owool-Collection__product-grid">
        {% for product in collection.products %}
          <li>
            {% include 'product-grid-item' %}
          </li>
        {% endfor %}
        </ul>

        {% include 'pagination' %}
      
      {% else %}    
        <strong>No products found in this collection.</strong>
      {% endif %}
    {% endpaginate %}

</div> <!-- /#col-main -->