<section class="o-container-vlist-natural-children-width demo-container">
    {% include 'c-button'  with   style_modifier: 'dark-accent-secondary', flags:'--lg --monochrome' ,  kabob_left_icon: "icon-leaves-b.svg", kabob_label: "gillian's button" %}

    {% include 'c-button'  with   style_modifier: 'light', flags:'--md --italic --accent' ,  kabob_right_icon: "icon-plus", kabob_label: "Purchase from ravelry" %}

    {% include 'c-button'  with   style_modifier: 'dark-accent-primary', flags:'--hover-invert --md --italic --accent' ,   kabob_label: "Add to Cart" %}

    {% include 'c-button'  with   style_modifier: 'light' , flags: "--md --no-divider" , kabob_right_icon: "icon-snapchat", kabob_left_icon: "icon-leaves-b.svg", kabob_label: "gillian's text" %}

</section>