<!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->

<div class="email-list-form">
    <form name="ccoptin" action="https://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
        <input type="hidden" name="llr" value="a4m5dxdab">
        <input type="hidden" name="m" value="1103508747232">
        <input type="hidden" name="p" value="oi">
        <input type="text" name="ea" size="20" value="" class="email" id="mce-EMAIL" placeholder="email address">
        <button type="submit" name="go" value="Go" class="submit g-Button--dark-accent-secondary --round-right --sm-padding --sm " >
            <div class="g-Button--dark-accent-secondary__icon">
                {% include 'icon-leaves-a.svg' %}
            </div>
        </button>
    </form>
</div>

<!-- END: Constant Contact Basic Opt-in Email List Form -->