$logo-width: 10%;

$show-guides: false;

[data-section-type="header-section"]{
    border-top: rhythm(1)/2 solid color($chroma-active-scheme,accent);

}

.Owool_Header {

    $self:&;

    //border at the tp[



    position: relative;
    display: block;

    @include u-default-container;

    padding-top: rhythm(2);

    &__wrapper {

        display: grid;
        grid-template-columns: $logo-width 1fr;
        grid-template-rows: 100% 100%;
        grid-gap: 0;

        justify-items: stretch;
        align-items: stretch;
        width: 100%;

        @include margin-trailer(1);
        > * {
            &:nth-child(1) {
                @if ($show-guides){
                    background: pink;
                }

                // justify-self: end;

                grid-row-start: 1;
                grid-row-end: span 2;
            }
            &:nth-child(2) {
                @if ($show-guides) {
                    background: orange;
                }
            }
            &:nth-child(3) {
                @if ($show-guides) {
                    background: yellow;
                }
                align-self: end;

            }
            &:nth-child(4) {
                @if ($show-guides) {
                    background: red;
                }
            }
        }
    }

    &__logo {
        // width: $logo-width;
        height: 100%;

        .Owool_Logo_SVG {
            width: 100%;
            height: auto;
        }
    }

    &__meta {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
    }

    //part of meta
    &__cart {
        width: auto;
        &-icon {

        }
        &-item-count {

        }
    }

    &__social {
        width: auto;
        @include u-horizontal-list();
    }

    &__customer {
        width: auto;
        //acct menu
        &-account {

        }
        &-login {

        }
        &-logout {

        }
        &-create {

        }
    }

    &__search {
        background: red;
        display: none;
    }

    &__divider{
       // background: red;
        //padding: 0 rhythm(1);
    }
}

.Owool_Main-Menu {

    @include u-horizontal-list();

    justify-content: flex-end;
    @include leader();

    width: 100%;
    height: 100%;
    background: pink;
    $parent: &;

    @include setType(2, font-san-serif);
    @include color-scheme(light, false, false);

    a {
        @include u-reset-link;
    }

    &__item {
        // background: orange;

        #{$parent}__icon {
            opacity: 0;

            @include u-transition(opacity);
        }

        &:hover #{$parent}__icon {

            opacity: 1;

        }

    }

    .c-Icon-SVG {

        //  display:none;

    }
}


