/**
 * Homepage Carousel
 */

/* Adjust this to alter the width and height of the carousel. */

#carousel {
    width: 900px;
    height: 514px;
    position: relative;
    z-index: 50;
    overflow: hidden;
    margin: 0 auto;
    display: none;
    .items {
        margin: 0;
        padding: 0;
        width: 20000em;
        position: absolute;
        z-index: 1;
        > li {
            width: 900px;
            height: 514px;
            float: left;
            list-style: none;
        }
        img {
            max-width: 100%;
        }
    }
    p {
        margin: 0;
    }
    li {
        margin: 0;
    }
}
#carousel-wrapper {
    width: 916px;
    margin: 0 auto;
    .browse {
        position: absolute;
        z-index: 100;
        cursor: pointer;
    }
}
#carousel-next {
    top: 46%;
    right: 0;
    .arrow {
        width: 31px;
        height: 57px;
        background: $icon-arrow-right no-repeat;
    }
}
#carousel-prev {
    top: 46%;
    left: 0;
    .arrow {
        width: 31px;
        height: 57px;
        background: $icon-arrow-left no-repeat;
    }
}
