/**
 * Footer
 */
#bottom{
    width:904px;
    padding: 0 0 15px;
    margin: 15px auto 50px auto;
    font-size: 14px;
    letter-spacing:1px;
    clear: both;
    overflow: hidden;
    height: 1%;
}
#bottom a{ text-decoration:none;border-bottom:1px solid #aed2c2;}
#bottom a:hover{ border-bottom:1px solid #aed2c2;}
#bottom p{ line-height: 1.5em }

#footer-1,#footer-2,#footer-3 {
    float:left;
    margin-top:14px;
}

#footer-1 {
    width: 330px;
}
#footer-1 #mce-EMAIL {
    width:160px;
    padding:4px 24px 4px 10px;
    font-family: $font-family;
    font-style:italic;
    letter-spacing:1px;
    font-size:12px;
}
#footer-1 ::-webkit-input-placeholder,#footer-1 ::-moz-placeholder, #footer-1 ::-ms-input-placeholder,#footer-1 ::placeholder  {
    font-family: $font-family;
    font-style:italic;
    letter-spacing:1px;
    font-size:12px;
}

#footer-1 input[type="submit"] {
    background:#eec517 url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/form-leaf.png?13322936379033579690) no-repeat center center;
    text-indent:-9999em;
    border:none;
    height: 21px;
    width: 24px;
    position: relative;
    right: 30px;
}
#footer-2, #footer-3 {
    width: 207px;
}
#footer-4 {
    width:135px;
    margin-top:14px;
    float:right;
    text-align:left;
    background:url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/footer-leaves.png?13322936379033579690) no-repeat right bottom;
    font-size:12px;
    color:#adadad;
    line-height:2;
}
#footer-4 a {
    border-bottom:none;
    color: #adadad;
}


#bottom ul{
    list-style: none;
    margin: 0 0 10px 0
}
#bottom li{
    margin: 0 0 0;
    padding: 0 0 0;
}


.footer-nav{
    margin: 14px 0 0 0;
}
.footer-nav li{
    margin: 0 0 10px;
}

/* HC - Display Footer - 18 Jan '17 */
#bottom {
    height: unset !important;
}

#purchase
{	text-align:center;
}


//SASS

#bottom {
    width: 904px;
    padding: 0 0 15px;
    margin: 15px auto 50px auto;
    font-size: 14px;
    letter-spacing: 1px;
    clear: both;
    overflow: hidden;
    height: 1%;
    height: unset !important;
    a {
        text-decoration: none;
        border-bottom: 1px solid $color_gum_leaf_approx;
        &:hover {
            border-bottom: 1px solid $color_gum_leaf_approx;
        }
    }
    p {
        line-height: 1.5em;
    }
    ul {
        list-style: none;
        margin: 0 0 10px 0;
    }
    li {
        margin: 0;
        padding: 0;
    }
}
#footer-1 {
    float: left;
    margin-top: 14px;
    width: 330px;
    #mce-EMAIL {
        width: 160px;
        padding: 4px 24px 4px 10px;
        font-family: $font-family;
        font-style: italic;
        letter-spacing: 1px;
        font-size: 12px;
    }
    ::-webkit-input-placeholder {
        font-family: '$font-family';
        font-style: italic;
        letter-spacing: 1px;
        font-size: 12px;
    }
    ::-moz-placeholder {
        font-family: '$font-family';
        font-style: italic;
        letter-spacing: 1px;
        font-size: 12px;
    }
    ::-ms-input-placeholder {
        font-family: '$font-family';
        font-style: italic;
        letter-spacing: 1px;
        font-size: 12px;
    }
    ::placeholder {
        font-family: '$font-family';
        font-style: italic;
        letter-spacing: 1px;
        font-size: 12px;
    }
    input[type="submit"] {
        background: $color_lightning_yellow_approx $form-leaf no-repeat center center;
        text-indent: -9999em;
        border: none;
        height: 21px;
        width: 24px;
        position: relative;
        right: 30px;
    }
}
#footer-2 {
    float: left;
    margin-top: 14px;
    width: 207px;
}
#footer-3 {
    float: left;
    margin-top: 14px;
    width: 207px;
}
#footer-4 {
    width: 135px;
    margin-top: 14px;
    float: right;
    text-align: left;
    background: $footer-leaf no-repeat right bottom;
    font-size: 12px;
    color: $color_silver_chalice_approx;
    line-height: 2;
    a {
        border-bottom: none;
        color: $color_silver_chalice_approx;
    }
}
.footer-nav {
    margin: 14px 0 0;
    li {
        margin: 0 0 10px;
    }
}
#purchase {
    text-align: center;
}