/**
 * Header
 */

#top {
    padding: 40px 0 0;
    margin: 0 auto 18px auto;
    position: relative;
    z-index: 100;
    width: 904px;
}

#site-title {
    margin: 0;
    position: relative;
    bottom: 13px;
}

#top-menu {
    position: absolute;
    right: 0;

    background: red;
    bottom: 34px;

    @include setType(2,font-san-serif);
    li {
        float: left;
        &.last a {
            padding: 0 2px 0 15px;
        }
    }
    a {
        color: $color_fuscous_gray_approx;
      //  font-size: 18px;
        padding: 0 30px 0 15px;
        text-decoration: none;
        display: block;
        position: relative;

        &:before {
            border: 1px solid red;
            width: $hover-icon-size;
            height: $hover-icon-size;
            display: block;
            position: absolute;
            left: -1 * $hover-icon-size;
            content: " ";
            background: $icon-hover-leaf;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .5s ease;

        }

        &:hover {
            // background: $icon-hover-leaf no-repeat left 2px;

            &:before {

                opacity: 1;
            }
        }
        &.active {
            color: $color_lightning_yellow_approx;
        }
    }
    .has-dropdown {
        position: relative;
    }
    ul {
        ul {
            clear: none;
            position: absolute;
            z-index: 30;
            // background:;???
            top: 0;
            left: -1px;
            padding: 5px 0;
            display: none;
            width: 175px;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 2px 3px;
            li {
                float: none;
                display: block;
                padding: 5px 10px;
            }
            a {
            //    font: 12px;
                margin: 0;
                padding: 0;
                display: block;
                border: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .first ul {
            left: 0;
        }
    }
}

#header-search {
    float: right;
    margin: 0;
    width: 215px;
    #top-search-input {
        width: 175px;
      //  font-size: 12px;
        padding: 6px 3px;
        border: solid 1px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 4px;
        float: left;
    }
    #top-search-submit {
        border: none;
        width: 24px;
        height: 25px;
        float: right;
        margin: 0 0 0 8px;
        font-size: 0;
        line-height: 50px;
        &:hover {
            background-position: 0 -75px;
        }
    }
}

body {
    border-top: solid 6px $color_gum_leaf_approx;
}

.js #top-menu {
    .nav-arrow {
        position: absolute;
        top: 45%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid;
        display: block;
    }
    .has-dropdown a {
        padding-right: 24px;
    }
}

.ie6 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}

.ie7 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}

.ie8 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}
