/**
 * Header
 */

#top {
    padding: 40px 0 0 0;
    margin: 0 auto 18px auto;
    position: relative;
    z-index: 100;
    width: 904px;
}

#site-title {
    margin: 0;
    position: relative;
    bottom: 13px;
}

/**
 * Top Menu
 */

#top-menu {
    position: absolute;
    right: 0;
    bottom: 34px;
}

#top-menu li {
    float: left;
}

#top-menu a {
    color: #555555;
    font-size: 18px;
    padding: 0 30px 0 15px;
    text-decoration: none;
    display: block;
}

#top-menu li.last a {
    padding: 0 2px 0 15px;
}

#top-menu a:hover {
    background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/hover-leaf.png?13322936379033579690) no-repeat left 2px;
}

#top-menu a.active {
    color: #eec517;
}

/* dropdown menus */
#top-menu .has-dropdown {
    position: relative;
}

.js #top-menu .has-dropdown a {
    padding-right: 24px;
}

.js #top-menu .nav-arrow {
    position: absolute;
    top: 45%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: block;
}

#top-menu ul ul {
    clear: none;
    position: absolute;
    z-index: 30;
    ///background:?????
    top: 0;
    left: -1px;
    padding: 5px 0;
    display: none;
    width: 175px;
    -moz-box-shadow: 0 2px 3px;
    -webkit-box-shadow: 0 2px 3px;
    box-shadow: 0 2px 3px;
}

.ie6 #top-menu ul ul,
.ie7 #top-menu ul ul,
.ie8 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}

#top-menu ul .first ul {
    left: 0;
}

#top-menu ul ul li {
    float: none;
    display: block;
    padding: 5px 10px;
}

#top-menu ul ul a {
    font: 12px;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}

#top-menu ul ul a:hover {
    text-decoration: underline;
}

/**
 * Header Search
 */

#header-search {
    float: right;
    margin: 0;
}

#header-search #top-search-input {
    width: 175px;
    font-size: 12px;
    padding: 6px 3px;
    border: solid 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
}

#header-search #top-search-submit {
    border: none;
    width: 24px;
    height: 25px;
    float: right;
    margin: 0 0 0 8px;
    font-size: 0; /* ie7 */
    line-height: 50px; /* ie7 */
}

#header-search #top-search-submit:hover {

    background-position: 0 -75px;

}

#header-search {
    width: 215px;
}

/**
 * Shopping Cart at the Top
 */

body {
    border-top: solid 6px #aed2c2;
}

#umbrella {
    padding: 0 10px 0 12px;
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 12px;
}

#umbrella ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#umbrella li {
    float: left;
    padding: 3px 6px 0 0;
    margin: 0 0 0 0;
    font-weight: normal;
    list-style: none;
}

#umbrella p {
    margin: 0;
}

#umbrella a {
    color: #adadad;
    font-style: italic;
    letter-spacing: 1px;
    text-decoration: none;
}

#umbrella a:hover {
    color: #eec517;
}

#umbrella #customer_login_link {
    margin: 0 5px;
}

#umbrella .num-items-in-cart .icon {
    display: block;
    padding: 3px 0 0 30px;
    background: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/cart.png?13322936379033579690) 0 0 no-repeat;
}

#umbrella .num-items-in-cart:hover .icon {
}

#umbrella .checkout-link {
    padding: 0;
    margin-right: 0;
    border: none;
}

#umbrella .checkout-link a {
   // color:;???
}

#umbrella .checkout-link a:hover {
  //  color:;??
}

#sm-twitter a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-twitter.png?13322936379033579690);
}

#sm-facebook a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-facebook.png?13322936379033579690);
}

#sm-ravelry a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-ravelry.png?13322936379033579690);
}

#sm-pinterest a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-pinterest.png?13322936379033579690);
}

#sm-instagram a {
    background-image: url(//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-instagram.png?13322936379033579690);
}

.social-icons {
    width: 24px;
    height: 24px;
    display: block;
    background-position: 0 0;
    text-indent: -9999em;
    position: relative;
    bottom: 4px;
}

#sm-twitter a:hover,
#sm-facebook a:hover,
#sm-ravelry a:hover,
#sm-pinterest a:hover,
#sm-instagram a:hover {
    background-position: 0 -25px;
}

//colors

#top {
    padding: 40px 0 0;
    margin: 0 auto 18px auto;
    position: relative;
    z-index: 100;
    width: 904px;
}

#site-title {
    margin: 0;
    position: relative;
    bottom: 13px;
}

#top-menu {
    position: absolute;
    right: 0;
    bottom: 34px;
    li {
        float: left;
        &.last a {
            padding: 0 2px 0 15px;
        }
    }
    a {
        color: $color_fuscous_gray_approx;
        font-size: 18px;
        padding: 0 30px 0 15px;
        text-decoration: none;
        display: block;
        &:hover {
            background: $icon-hover-leaf no-repeat left 2px;
        }
        &.active {
            color: $color_lightning_yellow_approx;
        }
    }
    .has-dropdown {
        position: relative;
    }
    ul {
        ul {
            clear: none;
            position: absolute;
            z-index: 30;
           // background:;???
            top: 0;
            left: -1px;
            padding: 5px 0;
            display: none;
            width: 175px;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 2px 3px;
            li {
                float: none;
                display: block;
                padding: 5px 10px;
            }
            a {
                font: 12px;
                margin: 0;
                padding: 0;
                display: block;
                border: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .first ul {
            left: 0;
        }
    }
}

#header-search {
    float: right;
    margin: 0;
    width: 215px;
    #top-search-input {
        width: 175px;
        font-size: 12px;
        padding: 6px 3px;
        border: solid 1px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 4px;
        float: left;
    }
    #top-search-submit {
        border: none;
        width: 24px;
        height: 25px;
        float: right;
        margin: 0 0 0 8px;
        font-size: 0;
        line-height: 50px;
        &:hover {
            background-position: 0 -75px;
        }
    }
}

body {
    border-top: solid 6px $color_gum_leaf_approx;
}

#umbrella {
    padding: 0 10px 0 12px;
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 12px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        float: left;
        padding: 3px 6px 0 0;
        margin: 0;
        font-weight: normal;
        list-style: none;
    }
    p {
        margin: 0;
    }
    a {
        color: $color_silver_chalice_approx;
        font-style: italic;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
            color: $color_lightning_yellow_approx;
        }
    }
    #customer_login_link {
        margin: 0 5px;
    }
    .num-items-in-cart {
        .icon {
            display: block;
            padding: 3px 0 0 30px;
            background: $icon-cart 0 0 no-repeat;
        }
        &:hover .icon {
        }
    }
    .checkout-link {
        padding: 0;
        margin-right: 0;
        border: none;
        a {
           // color:;????
            &:hover {
               // color:;???
            }
        }
    }
}

.social-icons {
    width: 24px;
    height: 24px;
    display: block;
    background-position: 0 0;
    text-indent: -9999em;
    position: relative;
    bottom: 4px;
}

.js #top-menu {
    .nav-arrow {
        position: absolute;
        top: 45%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid;
        display: block;
    }
    .has-dropdown a {
        padding-right: 24px;
    }
}

.ie6 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}

.ie7 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}

.ie8 #top-menu ul ul {
    border: solid 1px;
    border-width: 0 1px;
}

#sm-twitter a {
    background-image: $icon-twitter;
    &:hover {
        background-position: 0 -25px;
    }
}

#sm-facebook a {
    background-image: $icon-facebook;
    &:hover {
        background-position: 0 -25px;
    }
}

#sm-ravelry a {
    background-image: $icon-ravelry;
    &:hover {
        background-position: 0 -25px;
    }
}

#sm-pinterest a {
    background-image: $icon-pintrest;
    &:hover {
        background-position: 0 -25px;
    }
}

#sm-instagram a {
    background-image: $icon-instagram;
    &:hover {
        background-position: 0 -25px;
    }
}