/**
 * Structure
 */

html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
}

.wrapper {
    width: 100%;
    text-align: left;
}

#col-main {
    width: 100%;
}

#col-widgets {
    float: right;
   // width: 275px;
}

.templateIndex .wrapper {
    width: 100%;
}

.ie6 .wrapper {
    height: 100%;
}