#umbrella {
    padding: 0 10px 0 12px;
    font-size: 12px;
    position: absolute;
    top: 25px;
    right: 12px;

    @include breakpoint-range(md, ">=") {
        width: 30%;
    }
    .menu-umbrella {

        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include breakpoint-range(sm, "<=") {
            width: 50%;
            margin: 0 auto;
        }
        & > * {
            float: none;
            padding: 0;
            margin: 0;
            font-weight: normal;
            list-style: none;
        }
    }
    p {
        margin: 0;
    }
    a {
        color: $color_silver_chalice_approx;
        font-style: italic;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
            color: $color_lightning_yellow_approx;
        }
    }
    #customer_login_link {
        margin: 0 5px;
    }
    .num-items-in-cart {
        .icon {
            display: block;
            padding: 3px 0 0 30px;
            background: $icon-cart 0 0 no-repeat;
        }
        &:hover .icon {
        }
    }
    .checkout-link {
        padding: 0;
        margin-right: 0;
        border: none;
        a {
            // color:;????
            &:hover {
                // color:;???
            }
        }
    }
}
