/**
 * Variables
 */

$font-family: Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;



//colors
$color_silver_tree_approx: #71b799;
$color_gum_leaf_approx: #aed2c2;
$color_salmon_approx: #f4846a;
$color_mona_lisa_approx: #ff9494;

$white: #fff;
$color_alto_approx: #ddd;

$color_celeste_approx: #ccc;
$color_silver_chalice_approx: #adadad;
$color_suva_gray_approx: #888;
$color_storm_dust_approx: #666;
$color_fuscous_gray_approx: #555;
$color_mine_shaft_approx: #333;
$color_dune_approx: #3b3a34;
$black: black;

$color_grenadier_approx: #e0360f;
$red: #f00;
$color_pomegranate_approx: #ef3a22;
$color_lightning_yellow_approx: #eec517;
$color_galliano_approx: #dbb40f;
$color_green_leaf_approx: #387700;
$color_matisse_approx: #25669c;
$color_jet_stream_approx: #b6d6c8;


//image placeholders
$placeholder-product: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/placeholder-product.png?13322936379033579690');

//****ORNAMENTS
$icon-hover-leaf: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/hover-leaf.png?13322936379033579690');
$form-leaf: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/form-leaf.png?13322936379033579690');
$footer-leaf: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/footer-leaves.png?13322936379033579690');
$icon-arrow-right: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/arrow-right.png?13322936379033579690');
$icon-arrow-left: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/arrow-left.png?13322936379033579690');
$icon-tiny-leaves: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/tiny-leaves.png?13322936379033579690');
$icon-grid-hover: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/grid-hover.png?13322936379033579690');


//**** CART Buttons
$cart-edit: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/edit-sml.png?13322936379033579690');
$cart-delete: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/delete-sml.png?13322936379033579690');
$cart-add: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/add-sml.png?13322936379033579690');
$cart-sm-btn: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/btn-small-depth.png?13322936379033579690 0 100% repeat-x');
$icon-add-to-cart: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/add-to-cart.png?13322936379033579690');
$icon-yarn-add-to-cart: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/yarn_addtocart.png?13322936379033579690');
$icon-cart: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/cart.png?13322936379033579690');

//******SOCIAL ICONS
$icon-twitter: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-twitter.png?13322936379033579690');
$icon-facebook: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-facebook.png?13322936379033579690');
$icon-ravelry: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-ravelry.png?13322936379033579690');
$icon-pintrest: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-pinterest.png?13322936379033579690');
$icon-instagram: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/sm-instagram.png?13322936379033579690');

///****?????
$icon-blog: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/blog-hr.png?13322936379033579690');
$select-icon: url('//cdn.shopify.com/s/files/1/0155/0473/t/9/assets/select-icons1.png?13322936379033579690');
