/**
 * Variables
 */

$font-family: Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

//colors
$color_silver_tree_approx: #71b799;
$color_gum_leaf_approx: #aed2c2;
$color_salmon_approx: #f4846a;
$color_mona_lisa_approx: #ff9494;

$white: #fff;
$color_alto_approx: #ddd;

$color_celeste_approx: #ccc;
$color_silver_chalice_approx: #adadad;
$color_suva_gray_approx: #888;
$color_storm_dust_approx: #666;
$color_fuscous_gray_approx: #555;
$color_mine_shaft_approx: #333;
$color_dune_approx: #3b3a34;
$black: black;

$color_grenadier_approx: #e0360f;
$red: #f00;
$color_pomegranate_approx: #ef3a22;
$color_lightning_yellow_approx: #eec517;
$color_galliano_approx: #dbb40f;
$color_green_leaf_approx: #387700;
$color_matisse_approx: #25669c;
$color_jet_stream_approx: #b6d6c8;


//image placeholders
$placeholder-product: var(--placeholder-product);

//****ORNAMENTS
$icon-hover-leaf: var(--icon-hover-leaf);
$form-leaf: var(--form-leaf);
$footer-leaf: var(--footer-leaf);
$icon-arrow-right: var(--icon-arrow-right);
$icon-arrow-left: var(--icon-arrow-left);
$icon-tiny-leaves: var(--icon-tiny-leaves);
$icon-grid-hover: var(--icon-grid-hover);

//**** CART Buttons
$cart-edit: var(--cart-edit);
$cart-delete: var(--cart-delete);
$cart-add: var(--cart-add);
$cart-sm-btn: var(--cart-sm-btn);
$icon-add-to-cart: var(--icon-add-to-cart);
$icon-yarn-add-to-cart: var(--icon-yarn-add-to-cart);
$icon-cart: var(--icon-cart);

//******SOCIAL ICONS
$icon-twitter: var(--icon-twitter-image);
$icon-facebook: var(--icon-facebook-image);
$icon-ravelry: var(--icon-ravelry-image);
$icon-pintrest: var(--icon-pinterest-image);
$icon-instagram: var(--icon-instagram-image);

///****?????
$icon-blog: var(--icon-blog);
$select-icon: var(--select-icon);
