.Owool_Product {
    $color-scheme: $chroma-active-scheme;

    @include trailer(2);
    &__breadcrumbs {

        @include setType(2, font-serif-italic);

        a {
            text-decoration: none;
            $props: (
                background: true,
                foreground: true,
                border: false,
                accent: true,
                hover-background: color($color-scheme, accent),
                hover-foreground: color($color-scheme, background)
            );
            @include g-color-scheme($color-scheme, $props...);
        }

        @include g-color-scheme($color-scheme, true, true, true);
    }
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include breakpoint-range(sm, "<=") {
            display: block;
        }
    }
    &__alt_images {



        @include breakpoint-range(md ,">="){
            max-width: 30vw;
            width: 100%;
        }
    }

    //***ATTRIBUTES MASTER
    &__master-variant-selector{
        display: none;
    }
    //****ATTRIBUTES SINGLE
    &__option-info{
        @include setType(1,font-serif);
    }
    &__option-selected{
        //   text-transform: uppercase;
    }
    &__option-title{
        font-weight: 600;
    }
    &__option-selector{
        //display: none;

    }
    &__variant-swatches{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-gap: rhythm(.25) ;
       // background: red;
    }
    &__variant-swatch{

        border:0px solid black;

        opacity: .6;

        @include u-transition;
        &.--is-selected  {
            border:1px solid black;
            opacity: 1;
        }
    }


&__featured-image{
   img{
       @include breakpoint-range(sm, "<=") {

           width: 100%;
           max-width: none;
       }
   }

}
    &__details {

        $props: (
            background: false,
            foreground: true,
            border: false,
            accent: true,
            accent-selector:'a'
        );
        @include g-color-scheme($color-scheme, $props...);

        text-align: left;
        a {
            &:hover {
                $props: (
                    background: color($color-scheme, accent),
                    foreground: color($color-scheme, background),
                    border: false,
                    accent: false
                );
                @include g-color-scheme($color-scheme, $props...);
            }
        }

        @include breakpoint-range(sm,"<="){
           // @include setType(1, font-serif);
            //@include u-make-container(90%);
padding: 0 rhythm(1);
        }
    }
    $parent: &;
    &__title {

        @include setType(4, font-serif, 1);

        #{$parent}__icon {
            @include o-icon-svg(color(light-alt, accent), 4);
            padding-right: rhythm(.25);
        }
    }
    &__description {
        @include setType(1, font-serif-italic);

        h4 {
            @include setType(1, font-san-serif, 0);

        }
        strong {
            font-weight: normal;
        }
    }
    &__vendors {
        @include setType(2, font-san-serif)

    }
    &__add-to-cart {
        @include setType(2, font-serif-italic);
    }
}
