/**
 * Footer
 */
footer {
}

.Owool_Footer {
   // @include u-full-width-container;
    width: 100%;
    > .inner {
        @include u-default-container;
    }
    $props: (
        background: true,
        foreground: true,
        border: false,
        accent:color(dark-accent-primary, foreground)
    );
    @include g-color-scheme(dark-accent-primary, $props...);

    @include setType(2, font-serif);

    text-align: left;

    padding-top: rhythm(2);
    //todo: figure out better way of dealing with this
    a {
        //background: purple;
        font-family: inherit;
        font-size: inherit;
        text-transform: uppercase;
        //color: red;
    }
    &__divider {

        @include margin-leader(1);

    }
    &__meta {
        @include margin-leader(1);

        text-align: center;
        @include trailer(1);
    }

    &__social {
        @include leader();
        @include u-horizontal-list;
        width: 80%;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: rhythm(1);

        @include breakpoint-range(sm,"<="){
            display: block;
        }
    }
    &__divider {
        @include leader();
    }
}

//SASS

#purchase {
    text-align: center;
}

//TODO::REMOVDE
@include breakpoint-range(sm, "<=") {

}


