/**
 * Footer
 */
footer {
}

.Owool_Footer {
    @include u-full-width-container;
    > .inner {
        @include u-default-container;
    }

    @include color-scheme(dark-accent-primary);
    @include setType(2, font-serif);

    text-align: left;

    padding-top: rhythm(2);
    //todo: figure out better way of dealing with this
    a {
        //background: purple;
        font-family: inherit;
        font-size: inherit;
        text-transform: uppercase;
    }
    &__divider {

        @include margin-leader(1);

    }
    &__meta {
        @include margin-leader(1);

        text-align: center;
        @include trailer(1);
    }

}

//SASS

#purchase {
    text-align: center;
}

//TODO::REMOVDE
@include breakpoint-range(sm, "<=") {

}


