$logo-width: 10%;

$show-guides: false;

[data-section-type="header-section"] {
    border-top: rhythm(.25) solid color($chroma-active-scheme, accent);
}

.Owool_Header {

    $self: &;

    @include u-default-container;
    @extend %u-reset-link-color;

    padding-top: rhythm(1);

    position: relative;
    display: block;

    &__wrapper {

        display: grid;
        grid-template-columns: $logo-width 1fr;
        grid-template-rows: 100% 100%;
        grid-gap: 0;

        justify-items: stretch;
        align-items: stretch;
        width: 100%;

        @include margin-trailer(1);
        > * {
            &:nth-child(1) {
                @if ($show-guides) {
                    background: pink;
                }
                grid-row-start: 1;
                grid-row-end: span 2;

            }
            &:nth-child(2) {
                @if ($show-guides) {
                    background: orange;
                }
                align-self: flex-start;
            }
            &:nth-child(3) {
                @if ($show-guides) {
                    background: yellow;
                }
                align-self: flex-end;
            }
            &:nth-child(4) {
                @if ($show-guides) {
                    background: red;
                }
            }
        }
    }

    &__logo {

        height: 100%;

        .Owool_Logo_SVG {
            width: 100%;
            height: auto;
        }
    }

    &__meta {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;


        $props: (
            background: true,
            foreground: true,
            border: false,
            accent:foreground
        );
        @include g-color-scheme($chroma-active-scheme,$props...);

        @include setType(0, font-serif-italic);

       // font-style: italic;

        //@include u-inherit-selector();
    }

    //part of meta
    &__cart {
        width: auto;
        @include u-horizontal-list();
        align-items: center;

        &-icon {

        }
        &-item-count {

        }
    }

    &__social {
        width: auto;
        height: 100%;
        @include u-horizontal-list();
    }

    &__customer {
        width: auto;

        padding: 0 rhythm(.5) 0 rhythm(1);
        @include u-horizontal-list();
        align-items: center;

        &-account {

        }
        &-login {

        }
        &-logout {

        }
        &-create {

        }
    }

    &__search {
        background: red;
        display: none;
    }
}

.Owool_Main-Menu {

    a {
        //   @include u-reset-link;
   // @extend %u-reset-link-color;
    }

    @include u-horizontal-list();

    justify-content: flex-end;

    width: 100%;
    height: 100%;
    background: pink;
    $parent: &;

   // @include setType(2, font-san-serif);

    $props: (
        background: true,
        foreground: true,
        border: false,
        accent:true
    );
    @include g-color-scheme(light,$props...);


    &__item {
        $parent : &;
        @include u-transition(opacity);

        $props: (
            background: false,
            foreground: true,
            border: false,
            fill:accent,
            hover-foreground:false,
            hover-fill: false
        );

        @include c-kabob(light-alt,$props,true,auto,xl, font-san-serif ){
            &__left, &__right{
                opacity: 0;
                @include u-transition(opacity);
            }
            &:hover{
                #{$parent}__left, #{$parent}__right{
                    opacity: 1;

                }
            }
        };
    }

}