
$component-name: 'Divider';


$ui-divider-size-ends: 14px;


@mixin c-divider($id:$component-name, $color-scheme: $chroma-active-scheme,$end-size: $ui-divider-size-ends ) {

    $self: &;
    width: 100%;

    display: grid;
    grid-template-columns: $end-size 1fr $end-size;
    grid-column-gap: 0px;


    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
    }

    &__left{
        @include u-icon-svg(color($color-scheme, foreground),$end-size);
    }
    &__center{
        position: relative;
        display: flex;
        align-items: center;

        height: $end-size;

        &:before{
display: block;
            width: 100%;
            height: 2px;
            background: color($color-scheme, foreground);
            content: " ";
        }
    }
    &__right{
        @include u-icon-svg(color($color-scheme, foreground),$end-size);
    }

    @content;
}


@include block($component-name, component) {
    @if ($generate-components) {
        @include c-divider($component-name);
        @each $key, $name in $THEME_RENDER_KEYS {
            @include modifier($key) {
                @include c-divider($component-name,$key);
            }
        }
    }
}
