$component-name: 'Social-Nav';


@mixin c-social-nav($id:$component-name, $color-scheme: $chroma-active-scheme, $width:100%,$padding-unit: 1  ) {


    width: $width;
    @include u-horizontal-list;
    //this spaces them out based on their parent


    &__icon {
        //most likely an inline svg

        @include c-icon-svg($component-name, $color-scheme);


        &:hover {
            fill: lighten(color($color-scheme, foreground), 15%);

            & > path, g {
                fill: lighten(color($color-scheme, foreground), 15%);
            }
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }

    a {
        color: inherit;
        color: red;
    }

    @content;
}

// ----------------------------------------
// !!SOCIAL NAV ICONS
// ----------------------------------------
/* ** !!CARD ** */

///MAIN BLOCK CSS

@include block($component-name, component) {
    @if ($generate-components) {
        @include c-social-nav($component-name);

        @each $key, $name in $THEME_RENDER_KEYS {
            @include modifier($key) {
                @include c-social-nav($component-name, $key);
            }
        }
    }
}
