
.Owool_Header{
    .Owool_Logo_SVG{
        width: 20%;
        height: auto;
    }
background: purple;
}





.Owool_Main-Menu {

   >  li {

        background: red;


    }

    .c-Icon-SVG{

      //  display:none;
        opacity:0;


        &:hover{
            opacity:1;
        }
    }
}


